/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require_tree .
 *= require_self
*/

/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */



body {
    margin: 42px;
    background-color: #f4f4f4;
}

#Heading {
    color: #34495e;
    text-align: center; 
    
}


* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
        .header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

                                    /* index page */
                                
 .index-container {
   max-height: 100vh;
   /* overflow: scroll; */
   display: flex;
   flex-flow: row wrap;
   padding: 0px 10px 0px 10px;
   margin: 0px auto;
   border-radius: 25px; 
   justify-content: space-evenly;
 }
 
 .index-tile {
   background-color: #f4f4f4;
   text-align: center;
   padding: 10px;
   margin: 10px;
   border-radius: 25px; 
 }
 
 .index-tile:hover {
   border: 3px solid #a2a2a2; 
   background-color: #f4f4f4;
   -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }
 
 .index-tile a {
   text-decoration: none;
   color: rgb(62, 7, 79);
   font-weight: 1200;
 }
 
 .index-img {
   max-width: 150px;
   margin: 0px auto;
 }

 #title {
     text-align: center;
 }

                                /* Recipe show page */


.show_container {
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #555555;
   
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-evenly;

} 

.show-tile1 {
    
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    border-radius: 25px; 
    width: 500px;
  }
#likes {
    text-align: center;
    margin: 0px auto;
}

#title {
   text-align: center;
   color: maroon;
}

.show-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   max-width: 300px;
   border: 1px solid #555;
   -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
 } 


 #ingred-header {
     text-align: center; 
 }

  .list {
     list-style-type: none;
     margin-left: auto;
     margin-right: auto; 
     padding: 0px 40px;
     text-align: center;
 } 

   .item {
       font-size: 20px;
       list-style-type: none;
       margin-left: auto;
       margin-right: auto; 
       padding: 0px 40px;
       text-align: center;
   }
                                                   /* buttons */

                                                   
   .button1 {
       background-color: white;
       color: black;
       border: 2px solid #000000; 
       transition-duration: 0.4s;
     }
     .button1:hover {
       background-color: #a8a8a8;
       color: white;
     }
.show_container h4 {
   text-align: center;
}

                                            /*  Form                       */



  
  .form{
    border: 1px solid #555555;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .title{
    font-size: 27px;
    padding-right: 15px;
  }
  
  .btn {
    position: relative;
    vertical-align: top;
    height: 40px;
    width: 25%;
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #4d4d4d;
    border: 0;
    border-bottom: 2px solid #d0d0d0;
    cursor: pointer;
    margin-left: auto;
  }
  
  input:not([type="submit"]){
    flex: 1;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  p {
    display: flex;
  }
  
  label {
      width: 7em;
      margin-right: .5em;
  }

  @media (max-width: 600px) {
    p {
      display: block;
    }
    input {
      width: 100%;
    }
    
    input[type="submit"] {
      width: 100%;
    }
  }  

  
                                        /* Profile Page */

.page-container {
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    /* background-color: rgba(255,255,255,0.4); */
    padding: 0px 10px 0px 10px;
    margin: 0px auto;
    border-radius: 25px; 
    justify-content: space-evenly;
}   

.profile-container1 {
    width: 300px;
    margin: left;
     /* background-color: bisque;  */
    padding: 20px;
    border-radius: 25px;
    text-align: center;
  }

  .profile-container2 {
    width: 300px;
    margin: right;
     /* background-color: bisque; */
    padding: 20px;
    border-radius: 25px;
    text-align: center;
  } 

.profile-container2 li {
    list-style-type: none;
    text-align: center;
    
}

.profile-container2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.profile-container1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

